.todo-list-container {
  .add-item-wrapper {
    margin-top: 40px;
    display: flex;

    .add-item-form {
      width: 100%;
    }
  }

  .items {
    margin-top: 40px;

    h2 {
      font-size: 25px;
      font-weight: 600;
      color: #444;
    }
  }
}
