.item-card {
    margin-bottom: 15px;
    background-color: #fff;
    border-bottom: 1px #f4f4f4 solid;
    display: flex;
    align-items: center;

    .item-title {
        flex: 1;
        padding: 15px 5px;
        align-items: center;
    }

    .item-icons {
        padding: 10px;

        .check-button {
            margin-right: 7px;
        }
    }
}