.item-card {
  margin-bottom: 15px;
  background-color: #fff;
  border-bottom: 1px #f4f4f4 solid;
  display: flex;
  align-items: center;

  .item-title {
    flex: 1;
    padding: 15px 5px;
    align-items: center;
    font-size: 18px;
  }

  .check-button {
    margin-right: 5px;

    &:hover {
      border-color: #aaa;
    }

    &:focus {
      border-color: #d9d9d9;
    }
  }
}
